.site-layout .site-layout-background {
    background: none;
    border-radius: 10px ;
}

.ant-layout{
    background-color: #fafafa;
    /* background: none; */
}

.menu {
    background: rgba(83, 38, 38, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.ant-layout-header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(219,219,219);
    height: 60px;
}

.ant-tabs-nav-wrap{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px
}

.ant-input-affix-wrapper-lg{
    padding: 5px 12px;
    background-color: #efefef;
    width: 268px;
    border: none;
    border-radius: 7px;
}

.ant-input-lg{
    background-color: #efefef;
}

.ant-popover-inner-content{
    padding: 0%;
}

.ant-avatar-string{
    padding-bottom: 5px;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector{
    border-radius: 7px;
}