#components-layout-demo-fixed .logo {
    background: #9b3737;
}

.site-layout .site-layout-background {
    background: none;
    border-radius: 10px ;
}

.ant-layout{
    background-color: none;
    background: #fafafa;
}

.menu {
    background: rgba(83, 38, 38, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 10px;
    margin-top: 10px;
}

.ant-layout-header {
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(219,219,219);
    height: 60px;
}

.ant-tabs-nav-wrap{
    background-color: #fff;
    border-radius: 10px;
    padding: 5px
}

.ant-input-affix-wrapper-lg{
    padding: 3px 12px;
    background-color: #fafafa;
    width: 268px;
}

.ant-input-lg{
    background-color: #fafafa;
}

.ant-popover-inner-content{
    padding: 0%;
}